@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.NorthWind.EmployeeTerritories.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new Yaxie.NorthWind.EmployeeTerritoriesGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>