@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Common.Note.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new Yaxie.Common.NoteGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>