@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.NorthWind.Notes.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new Yaxie.NorthWind.NotesGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>